@model SubtitlesSiteMVCFrontend.Views.ViewModels.HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <main class="home-grid">
        @* <section class="new-subtitles">
            <partial name="_SubtitleList" model="Model.NewSubtitles" />
        </section> *@
        <section class="new-subtitles">
            <fieldset>
                <legend class="legend">
                    <h2 class="home-grid-h">
                        <a href="#">New Subtitles</a>
                    </h2>
                </legend>
                <partial name="_SubtitleList" model="Model.NewSubtitles" />
            </fieldset>
        </section>
        <section class="featured-subtitles">
            <fieldset>
                <legend class="legend">
                    <h2 class="home-grid-h">
                        <a href="#">Featured Subtitles</a>
                    </h2>
                </legend>
                <partial name="_SubtitleList" model="Model.FeaturedSubtitles" />
            </fieldset>
        </section>
        <section class="statistics">
            <div class="most-downloaded">
                <fieldset>
                    <legend class="legend">
                        <h2 class="home-grid-h">
                            <a href="#">Weekly Most Downloaded</a>
                        </h2>
                    </legend>
                    <partial name="_SubtitleList" model="Model.MostDownloaded" />
                </fieldset>
            </div>
        </section>
    </main>
</div>