@model List<Moshi.SubtitlesSite.Models.SubtitleWithMovieDetails>

<table class="table">
    <thead>
        <tr class="head">
            <th>Movie</th>
            <th>User</th>
            <th>
                <img width="16" height="16" src="/img/saveicon.gif" title="Downloaded" alt="Downloaded">
                </th>
            <th>
                <img width="16" height="16" src="img/imdb_small.gif" title="Movie rating" alt="Movie rating">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="tb-row">
                <td class="cell-one">
                    <a href="Subtitles/Details/@item.SubtitleId">@item.MovieTitle</a>
            </td>
                <td>@item.Username</td>
                <td class="cell-num">@item.Downloads</td>
                <td class="cell-num">@item.ImdbRating</td>
            </tr>
        }
    </tbody>
</table>