@model List<Moshi.SubtitlesSite.Models.UploaderStats>

<table class="table">
    <thead>
        <tr class="head">
            <th>Username</th>
            <th>Upload Count</th>
            <th>Latest Upload</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="tb-row">
                <td class="cell-one">
                    <a href="/Profile/@item.UserId">
                        @item.Username
                    </a>
                </td>
                <td class="cell-num">@item.UploadCount</td>
                <td class="cell-num">@item.LatestUpload.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>