
.header-layer {
    display: flex;

}
.header-menu {
    display: flex;
    gap: 20px;
    text-align: center;
}
ul {
    list-style-type: none;
}
h1 {
    font-size: 26px;
}
.container {
    width: 820px;
    margin: 0 auto;
}
.centred {
    display: flex;
    justify-content: center;
}
.header-user-actions {
    display: flex;
}
.language-action {
    margin-left: auto;
}

.search-bar {
    border: 1px solid #9ec068;
    background: #dcf2b8;
    padding: 10px 0 5px;
    display: flex;
    justify-content: center;
}
fieldset {
    border: 1px solid #ddd;
    width: auto;
    padding: 6px;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.legend {
    background: #dcf2b8;
    border: 1px solid #9ec068;
    padding: 2px 6px;
    margin: 6px 0;
    display: inline;
}
table {
    width: 100%;
}

.home-grid-h {
    font-size: 12px;
    font-weight: 400;
    display: inline;
}
body {
    font: .7em Arial,sans-serif;
    font-size: 0.8em;
    line-height: normal;
    line-height: 1.5em;
    color: #454545;
}
.head {
    background: #d8d8d8;
    font-size: 11px;
}
.tb-row {
    cursor: pointer;
}
.tb-row:nth-child(even) {
    background-color: #eff9df;
}
.tb-row:nth-child(odd) {
    background-color: #f4f4f4;
}
.tb-row:hover {
    background-color: #dcf2b8;
}
td {
    width: auto;
    white-space: nowrap;
}
.cell-one {
    width: 100%;
}
.cell-num {
    text-align: center;
}
.upfooter {
    text-align: center;
}
.upfooter a {
    text-decoration: none;
    padding: 1px 3px;
    margin: 0 .17em;
    background: #fafab4;
    border: 1px solid #b9862d;
    color: #522f01;
}