
.header-layer {
    display: flex;

}
.header-menu {
    display: flex;
    gap: 24px;
    text-align: center;
}
.header-menu a {
    font-weight: 700;
    color: #4a8ebc;
    background: 0 0;
}
ul {
    list-style-type: none;
}
h1 {
    font-size: 26px;
}
.container {
    width: 820px;
    margin: 0 auto;
}
.centred {
    display: flex;
    justify-content: center;
}
.header-user-actions {
    display: flex;
}
.user-actions {
    margin-left: auto;
}
.language-action {
    margin-left: 20px;
}

.search-bar {
    border: 1px solid #9ec068;
    background: #dcf2b8;
    padding: 10px 0 5px;
    display: flex;
    justify-content: center;
}
fieldset {
    border: 1px solid #ddd;
    width: auto;
    padding: 6px;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.legend {
    background: #dcf2b8;
    border: 1px solid #9ec068;
    padding: 2px 6px;
    margin: 6px 0;
    display: inline;
}
table {
    width: 100%;
}

.home-grid-h {
    font-size: 12px;
    font-weight: 400;
    display: inline;
}
body {
    font-size: 14px;
    font: .7em Arial,sans-serif;
    font-size: 0.8em;
    line-height: normal;
    line-height: 1.5em;
    color: #454545;
}
.head {
    background: #d8d8d8;
    font-size: 11px;
}
.tb-row {
    cursor: pointer;
}
    .tb-row:nth-child(even) {
        background-color: #f4f4f4;
    }
    .tb-row:nth-child(odd) {
        background-color: #eff9df;
    }
.tb-row:hover {
    background-color: #dcf2b8;
}
td {
    width: auto;
    white-space: nowrap;
}
.cell-one {
    width: 100%;
}
.cell-num {
    text-align: center;
}
.upfooter {
    text-align: center;
}
.upfooter a {
    text-decoration: none;
    padding: 1px 3px;
    margin: 0 .17em;
    background: #fafab4;
    border: 1px solid #b9862d;
    color: #522f01;
}
.flag {
    background: url(/img/allflags.gif) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    width: 18px;
    height: 12px;
    margin-right: 3px;
}
.es {
    background-position: -162px 0;
}
.ar {
    background-position: -18px 0;
}
.en {
    background-position: -144px 0;
}
.tr {
    background-position: -774px 0;
}
.fi {
    background-position: -216px 0;
}
.el {
    background-position: -252px 0;
}
.pb {
    background-position: -576px 0;
}
.pl {
    background-position: -594px 0;
}
.it {
    background-position: -378px 0;
}
.movie-details {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 0 0 10px;
    color: #454545;
    background: #f4f4f4;
    margin-top: 10px;
}


.sub-detail-title {
    text-align: center;
    font: 700 1em Arial,Sans-Serif;
    color: #185da0;
}
.sub-detail-title a {
    text-decoration: none;
}